@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@400;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: #d6d7ff;
  background: #1d1d1d;
  text-rendering: optimizeLegibility;
}

/* Navbar */
nav a {
  color: #6dcff0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 0.8rem 4rem;
  z-index: 2000;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.header-area {
  position: relative;
}

.header-area #logo {
  width: 45px;
  height: 45px;
}

.header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.header-area .links li {
  display: inline-block;
  margin-left: 30px;
  color: #1d1d1d;
  cursor: pointer;
}

.image-holder {
  width: 100vw;
  text-align: center;
  margin-top: 4rem;
}

img {
  width: 12.5rem;
  border-radius: 50%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.links > a {
  font-family: "Poppins", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80vw;
  max-width: 600px;
  min-width: 210px;
}

.btn {
  position: relative;
  display: block;
  color: #d6d7ff;
  border: 1px solid #d6d7ff;
  padding: 1.2rem 3rem;
  margin: 0.75rem 0;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: translate(0);
          transform: translate(0);
  letter-spacing: 0.1rem;
}

.btn.fill {
  background: #c42cf3;
}

.btn:hover {
  color: #1d1d1d;
}

.btn:hover::before {
  -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.btn::before {
  position: absolute;
  content: "";
  -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c42cf3;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c42cf3;
  font-size: 2rem;
}

ul > a {
  color: #c42cf3;
  margin-right: 1.6rem;
}

ul > a:hover,
ul > a:active {
  color: #6dcff0;
  -webkit-transition: 0.42s ease-in-out;
  transition: 0.42s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */